In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

In [2]:
train = pd.read_csv(r"C:\Users\ariha\Desktop\Hackathons & Projects\Wipro Hackathon\train.csv")
train.head()

,Year,Month,Day,Hour,Minute,Clearsky DHI,Clearsky DNI,Clearsky GHI,Cloud Type,Dew Point,Temperature,Pressure,Relative Humidity,Solar Zenith Angle,Precipitable Water,Wind Direction,Wind Speed,Fill Flag
0,2009,1,1,0,0,0,0,0,0,0.0,5.0,1010,75.34,106.15,0.499,346.1,3.1,0
1,2009,1,1,0,30,0,0,0,0,1.0,5.0,1010,80.81,112.28,0.490,346.1,3.1,0
2,2009,1,1,1,0,0,0,0,4,0.0,5.0,1010,78.27,118.50,0.482,347.9,3.2,0
3,2009,1,1,1,30,0,0,0,4,0.0,4.0,1010,78.27,124.78,0.478,347.9,3.1,0
4,2009,1,1,2,0,0,0,0,4,0.0,4.0,1010,76.45,131.12,0.475,350.0,3.0,0

In [3]:
train.shape

(175296, 18)

In [4]:
y = pd.DataFrame(train[['Clearsky DHI', 'Clearsky DNI', 'Clearsky GHI']])
y.head()

   Clearsky DHI  Clearsky DNI  Clearsky GHI
0             0             0             0
1             0             0             0
2             0             0             0
3             0             0             0
4             0             0             0

In [5]:
y.shape

(175296, 3)

In [6]:
x = train.drop(columns=['Clearsky DHI', 'Clearsky DNI', 'Clearsky GHI'], axis=1)
x.head()

,Year,Month,Day,Hour,Minute,Cloud Type,Dew Point,Temperature,Pressure,Relative Humidity,Solar Zenith Angle,Precipitable Water,Wind Direction,Wind Speed,Fill Flag
0,2009,1,1,0,0,0,0.0,5.0,1010,75.34,106.15,0.499,346.1,3.1,0
1,2009,1,1,0,30,0,1.0,5.0,1010,80.81,112.28,0.490,346.1,3.1,0
2,2009,1,1,1,0,4,0.0,5.0,1010,78.27,118.50,0.482,347.9,3.2,0
3,2009,1,1,1,30,4,0.0,4.0,1010,78.27,124.78,0.478,347.9,3.1,0
4,2009,1,1,2,0,4,0.0,4.0,1010,76.45,131.12,0.475,350.0,3.0,0

In [7]:
x.shape

(175296, 15)

In [8]:
x['Date'] = pd.to_datetime(x[['Year', 'Month', 'Day', 'Hour', 'Minute']])
x.head()

,Year,Month,Day,Hour,Minute,Cloud Type,Dew Point,Temperature,Pressure,Relative Humidity,Solar Zenith Angle,Precipitable Water,Wind Direction,Wind Speed,Fill Flag,Date
0,2009,1,1,0,0,0,0.0,5.0,1010,75.34,106.15,0.499,346.1,3.1,0,2009-01-01 00:00:00
1,2009,1,1,0,30,0,1.0,5.0,1010,80.81,112.28,0.490,346.1,3.1,0,2009-01-01 00:30:00
2,2009,1,1,1,0,4,0.0,5.0,1010,78.27,118.50,0.482,347.9,3.2,0,2009-01-01 01:00:00
3,2009,1,1,1,30,4,0.0,4.0,1010,78.27,124.78,0.478,347.9,3.1,0,2009-01-01 01:30:00
4,2009,1,1,2,0,4,0.0,4.0,1010,76.45,131.12,0.475,350.0,3.0,0,2009-01-01 02:00:00

In [9]:
x.drop(columns=['Year', 'Month', 'Day', 'Hour', 'Minute'], axis=1, inplace=True)
x.head()

,Cloud Type,Dew Point,Temperature,Pressure,Relative Humidity,Solar Zenith Angle,Precipitable Water,Wind Direction,Wind Speed,Fill Flag,Date
0,0,0.0,5.0,1010,75.34,106.15,0.499,346.1,3.1,0,2009-01-01 00:00:00
1,0,1.0,5.0,1010,80.81,112.28,0.490,346.1,3.1,0,2009-01-01 00:30:00
2,4,0.0,5.0,1010,78.27,118.50,0.482,347.9,3.2,0,2009-01-01 01:00:00
3,4,0.0,4.0,1010,78.27,124.78,0.478,347.9,3.1,0,2009-01-01 01:30:00
4,4,0.0,4.0,1010,76.45,131.12,0.475,350.0,3.0,0,2009-01-01 02:00:00

In [10]:
x.shape

(175296, 11)

In [11]:
columns_list = []
for cols in x.columns:
    columns_list.append(cols)
columns_list

['Cloud Type',
 'Dew Point',
 'Temperature',
 'Pressure',
 'Relative Humidity',
 'Solar Zenith Angle',
 'Precipitable Water',
 'Wind Direction',
 'Wind Speed',
 'Fill Flag',
 'Date']

In [12]:
columns_list.pop()
columns_list.insert(0, 'Date')
columns_list

['Date',
 'Cloud Type',
 'Dew Point',
 'Temperature',
 'Pressure',
 'Relative Humidity',
 'Solar Zenith Angle',
 'Precipitable Water',
 'Wind Direction',
 'Wind Speed',
 'Fill Flag']

In [13]:
x = x[columns_list]
x.head()

,Date,Cloud Type,Dew Point,Temperature,Pressure,Relative Humidity,Solar Zenith Angle,Precipitable Water,Wind Direction,Wind Speed,Fill Flag
0,2009-01-01 00:00:00,0,0.0,5.0,1010,75.34,106.15,0.499,346.1,3.1,0
1,2009-01-01 00:30:00,0,1.0,5.0,1010,80.81,112.28,0.490,346.1,3.1,0
2,2009-01-01 01:00:00,4,0.0,5.0,1010,78.27,118.50,0.482,347.9,3.2,0
3,2009-01-01 01:30:00,4,0.0,4.0,1010,78.27,124.78,0.478,347.9,3.1,0
4,2009-01-01 02:00:00,4,0.0,4.0,1010,76.45,131.12,0.475,350.0,3.0,0

In [14]:
corr_matrix = x.corr()
corr_matrix

,Cloud Type,Dew Point,Temperature,Pressure,Relative Humidity,Solar Zenith Angle,Precipitable Water,Wind Direction,Wind Speed,Fill Flag
Cloud Type,1.000000,0.202096,0.066777,-0.137158,0.235374,0.026873,0.326904,-0.081565,0.072632,0.090161
Dew Point,0.202096,1.000000,0.848948,-0.419534,0.193455,-0.222336,0.881881,-0.076357,-0.140699,0.036851
Temperature,0.066777,0.848948,1.000000,-0.371395,-0.341914,-0.526548,0.742449,-0.066673,-0.046694,0.015734
Pressure,-0.137158,-0.419534,-0.371395,1.000000,-0.085004,0.078900,-0.365342,-0.182006,-0.122674,0.052521
Relative Humidity,0.235374,0.193455,-0.341914,-0.085004,1.000000,0.607108,0.182658,-0.019108,-0.172248,0.023674
Solar Zenith Angle,0.026873,-0.222336,-0.526548,0.078900,0.607108,1.000000,-0.182529,0.003802,-0.295927,-0.029150
Precipitable Water,0.326904,0.881881,0.742449,-0.365342,0.182658,-0.182529,1.000000,-0.105735,-0.106892,0.044106
Wind Direction,-0.081565,-0.076357,-0.066673,-0.182006,-0.019108,0.003802,-0.105735,1.000000,0.035634,-0.017124
Wind Speed,0.072632,-0.140699,-0.046694,-0.122674,-0.172248,-0.295927,-0.106892,0.035634,1.000000,0.000447
Fill Flag,0.090161,0.036851,0.015734,0.052521,0.023674,-0.029150,0.044106,-0.017124,0.000447,1.000000

In [15]:
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
upper

C:\Users\ariha\AppData\Local\Temp/ipykernel_16452/2621372733.py:1: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

,Cloud Type,Dew Point,Temperature,Pressure,Relative Humidity,Solar Zenith Angle,Precipitable Water,Wind Direction,Wind Speed,Fill Flag
Cloud Type,NaN,0.202096,0.066777,-0.137158,0.235374,0.026873,0.326904,-0.081565,0.072632,0.090161
Dew Point,NaN,NaN,0.848948,-0.419534,0.193455,-0.222336,0.881881,-0.076357,-0.140699,0.036851
Temperature,NaN,NaN,NaN,-0.371395,-0.341914,-0.526548,0.742449,-0.066673,-0.046694,0.015734
Pressure,NaN,NaN,NaN,NaN,-0.085004,0.078900,-0.365342,-0.182006,-0.122674,0.052521
Relative Humidity,NaN,NaN,NaN,NaN,NaN,0.607108,0.182658,-0.019108,-0.172248,0.023674
Solar Zenith Angle,NaN,NaN,NaN,NaN,NaN,NaN,-0.182529,0.003802,-0.295927,-0.029150
Precipitable Water,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.105735,-0.106892,0.044106
Wind Direction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.035634,-0.017124
Wind Speed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000447
Fill Flag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
columns_to_drop = []
for cols in upper.columns:
    if any (upper[cols] > 0.75):
        columns_to_drop.append(cols)
columns_to_drop

['Temperature', 'Precipitable Water']

In [17]:
x.drop(columns_to_drop, axis=1, inplace=True)
x.head()

,Date,Cloud Type,Dew Point,Pressure,Relative Humidity,Solar Zenith Angle,Wind Direction,Wind Speed,Fill Flag
0,2009-01-01 00:00:00,0,0.0,1010,75.34,106.15,346.1,3.1,0
1,2009-01-01 00:30:00,0,1.0,1010,80.81,112.28,346.1,3.1,0
2,2009-01-01 01:00:00,4,0.0,1010,78.27,118.50,347.9,3.2,0
3,2009-01-01 01:30:00,4,0.0,1010,78.27,124.78,347.9,3.1,0
4,2009-01-01 02:00:00,4,0.0,1010,76.45,131.12,350.0,3.0,0

In [18]:
x.shape

(175296, 9)

In [19]:
y.shape

(175296, 3)

In [20]:
x.iloc[:1, 1:]

,Cloud Type,Dew Point,Pressure,Relative Humidity,Solar Zenith Angle,Wind Direction,Wind Speed,Fill Flag
0,0,0.0,1010,75.34,106.15,346.1,3.1,0

In [21]:
# Scaling dataframes x & y to (0, 1)
scaler = MinMaxScaler((0, 1))
x = pd.DataFrame(scaler.fit_transform(x.iloc[:, 1:]))
y = pd.DataFrame(scaler.fit_transform(y))

In [22]:
x.head()

     0         1         2         3         4         5         6    7
0  0.0  0.387244  0.740741  0.734296  0.598773  0.961389  0.240310  0.0
1  0.0  0.410023  0.740741  0.793233  0.636380  0.961389  0.240310  0.0
2  0.4  0.387244  0.740741  0.765866  0.674540  0.966389  0.248062  0.0
3  0.4  0.387244  0.740741  0.765866  0.713067  0.966389  0.240310  0.0
4  0.4  0.387244  0.740741  0.746256  0.751963  0.972222  0.232558  0.0

In [23]:
x.shape

(175296, 8)

In [24]:
y.head()

     0    1    2
0  0.0  0.0  0.0
1  0.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  0.0  0.0
4  0.0  0.0  0.0

In [25]:
y.shape

(175296, 3)

In [26]:
x_train = pd.DataFrame(x.iloc[:int(len(x) * 0.90), 1:])
x_train.head()

          1         2         3         4         5         6    7
0  0.387244  0.740741  0.734296  0.598773  0.961389  0.240310  0.0
1  0.410023  0.740741  0.793233  0.636380  0.961389  0.240310  0.0
2  0.387244  0.740741  0.765866  0.674540  0.966389  0.248062  0.0
3  0.387244  0.740741  0.765866  0.713067  0.966389  0.240310  0.0
4  0.387244  0.740741  0.746256  0.751963  0.972222  0.232558  0.0

In [27]:
x_train.shape

(157766, 7)

In [28]:
y_train = pd.DataFrame(y.iloc[:int(len(y) * 0.90), :])
y_train.head()

     0    1    2
0  0.0  0.0  0.0
1  0.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  0.0  0.0
4  0.0  0.0  0.0

In [29]:
y_train.shape

(157766, 3)

In [30]:
x_val = pd.DataFrame(x.iloc[int(len(x) * 0.90):, 1:])
x_val.head()

               1         2         3         4         5         6     7
157766  0.410023  0.740741  0.635492  0.304785  0.919722  0.155039  0.00
157767  0.410023  0.740741  0.686348  0.321779  0.919722  0.162791  0.00
157768  0.410023  0.740741  0.713501  0.342945  0.909722  0.178295  0.00
157769  0.410023  0.740741  0.770499  0.367607  0.909722  0.186047  0.04
157770  0.410023  0.740741  0.792048  0.395276  0.925000  0.193798  0.00

In [31]:
x_val.shape

(17530, 7)

In [32]:
y_val = pd.DataFrame(y.iloc[int(len(y) * 0.90):, :])
y_val.head()

               0         1         2
157766  0.267257  0.646154  0.475071
157767  0.254867  0.617308  0.428975
157768  0.251327  0.553846  0.366886
157769  0.226549  0.498077  0.299153
157770  0.200000  0.400962  0.222013

In [33]:
y_val.shape

(17530, 3)